:root{
    --black: #333;
    --White: #eee;
    --lightgray: #aaa;
    --blue: #2892D0;
    --darkgray:#313E45;
    --knapper:#0185D1;
    --background:#D7D8D8;
}

dialog{

}
nav ul li a{
   display: block;
   margin-top: 0.5rem;
   display: flex;
   flex-direction: column;
}