:root{
    --blue:#67cdfcf1; 
    --bacckground: #565656;
    --blue2: #45bbe2;   
}



body{
    background-color: #565656;
    color: #45bbe2;
    }

    form{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    color: #67cdfcf1;
    border: none;
    font-weight: 900;
    font-size: 3rem;
    
}


h1{
    font-size: 4rem;
    font-weight: 700;
}
button:hover{
transition: 450ms;
background-color:var(--blue)
}
button{
    border-radius: 0.6rem;
}